@model Ogani.Data.Supplier

@{
    ViewData["Title"] = "SupplierUpdate";
    Layout = "~/Views/Shared/_layout_admin.cshtml";
    ViewData["page"] = "Supplier";
    ViewData["Expand"] = "SupplierUpdate";
    ViewData["linkSub"] = "/admin/SupplierView";
}

<h1>Supplier Update</h1>

@*<h4>Supplier</h4>*@
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="SupplierUpdate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="SupplierView">Back to List</a>
</div>

